*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
}

/* body * {
    margin: 0%;
} */

h1 {
    margin: 0 auto;
}

.display-books {
    display: flex;
    border: 1px solid white;
    width: 70svw;
    height: 50svh;
    margin: 0 auto;
    color: white;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.display-books div {
    width: 50%;
}

.display-books ul {
    list-style: none;
}

#new-book-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    margin: 0 auto;
    min-height: 50svh;
    padding: 1rem 0rem;
}

.read {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

button#submit {
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    width: 50%;
}
